nav{
    background-color: #097B76;
}

*{
    
    margin : -50;
    padding : -50;
    box-sizing: border-box;

}
body{
    min-height:100vh;
    /*background:linear-gradient(65deg, #EAE2B7)*/
    background-color: #EAE2B7;
    display: flex;
    flex-direction: column;
    align-items: center;
}


form {
    margin-top: 50px;
    /*background:#fff;*/
    box-shadow: -3px 6px 4px  #097B76;
}
form input{
    width:250px;
    height:40px;
    border:none;
    outline:none;
    padding: 0.5px;
}

form button {
    width:50px;
    height:40px;
    border: none;
    background:#097B76;
    color: white;
    outline:none;
    cursor:pointer;
}
.todo-checkbox {
    margin-right: 10px;
  }
  .todo-container  li{
list-style: none;
/* background-color: white; */
    }

  .delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .todo-button {
    background-color: #097b76;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
  }
  
  /* Listenformatierung */
  #todo-list {
    list-style-type: none;
    padding: 0;
    margin: 10px;
  }



    


    
    





    
        

    
